/*
 * @NOTE: Prepend a `~` to css file paths that are in your node_modules
 *        See https://github.com/webpack-contrib/sass-loader#imports
 */
@import '~antd/dist/antd.css';
body {
  color: white;
  height: 100vh;
  /* background: linear-gradient(
    200.96deg,
    #fedc2a -29.09%,
    #dd5789 51.77%,
    #7a2c9e 129.35%
  ); */

  font-family: sans-serif;
}


button {

}

button:hover {
  transform: scale(1.05);
  /* opacity: 1; */
}

li {
  list-style: none;
}

a {
  text-align: center !important;
  text-decoration: none;
  /* height: fit-content; */
  width: fit-content;
  /* margin: 10px; */

  margin: 0;
}

a:hover {
  opacity: 1;
  text-decoration: none;
}

#xlsx-file-upload>span {
  display: flex;
  width: 100%;
}

.ant-upload-text-icon {
  display: none;
}

.ant-upload-list {
  width: 80%;
  /* text-decoration: none; */
  display: none;
}

#file-name-btns {
  height: 100%;
  width: calc(100vw - 280px);
  overflow-y: scroll;
  margin: 0 0 0 10px;
  text-align: center;
  padding: 10px 0px;
}

#content-body {
  height: calc(100vh - 210px);
  display: flex;
}
#content-body>div:nth-child(1) {
  width: 400px;
}
#content-body>div:nth-child(2) {
  width: calc(100vw - 440px);
}

#table {
  height: calc(100vh - 320px);
  overflow-y: scroll;
}

#table .ant-table-content {
  height: calc(100vh - 320px);
}

.ant-transfer-list-content {
  height: calc(100vh - 320px - 208px);
}
